---
layout: index
title: Home
permalink: /
---
<div class="spacer"></div>

<!--
<div id="service">
    <div class="container">
        <div class="row centered">
            <h3>Nos principes</h3>
            <hr>
            <h3></h3>

            {% for principe in site.principes %}
            <div class="col-md-4">
                <i class="fa fa-{{ principe.faicon }}"></i>
                <h4>{{ principe.name }}</h4>
                <p>{{ principe.texte }}</p>
            </div>
            {% endfor %}	
            <div class="col-md-12">
                <a href="/a-propos/" class="btn btn-theme">En savoir plus</a>
            </div>		
        </div>
    </div> 
</div> 
--> 

<div class="container">
    <div class="row centered">
        <h1>Retour sur la première édition</h1>
        <hr>
        <div class="spacing"></div>
        <div class="row">
            <div class="col-md-4 left">
                <img src="/assets/img/valpre.jpg" class="img-responsive">
                <h3>Valpré, 20, 21 novembre 2014</h3>
                <p>Cette première édition, expérimentale, a réuni 5 équipes de 6 personnes, avec chacune un facilitateur dédié, pour 24h de créativité intense.</p>
                <p>Devant l'enthousiasme des participants, des partenaires et des organisateurs, vous pouvez être sûrs qu'il y aura une prochaine édition !</p>
                <p>Vous pouvez retrouver ci-dessous le détail des projets qui ont été dévelopés.</p>
            </div>
            <div class="col-md-8 left">
                <iframe src="//player.vimeo.com/video/114807563?portrait=0" width="5" height="3" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        {% include project-portfolio2.html title="Projets" limit=6 %}

{% include clients.html %}
    </div> <!--/row -->
</div> <!--/container -->




{% include blog-roll-hp.html title="Articles récents" limit=3 %}

{% include questions.html title="Des questions ?" %}

<!-- 
<div class="container mtb">
    <div class="row">

        <div class="col-md-4">
            <h4>Articles récents</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div> 
</div> 
-->