<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <h1>{{ site.about }}</h1>
                <h3>{{ site.about_plus }}</h3>
                <a href="/a-propos/" class="btn btn-lg btn-theme">Rejoignez le club</a>			
            </div>
            <div class="col-lg-6 col-lg-offset-3 himg">
                <!-- <img src="{{ site.baseurl }}/assets/img/browser.png" class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->